

.nav-main-title {
  font-family: 'Poppins', sans-serif;
}

.nav-title {
  font-family: 'Mukta', sans-serif;
}

.home-section {
  margin: 0;
  padding: 0;
}

.home-title {
  padding: 2px;
}

.home-container {
  margin: 0px;
  padding: 0px;
  border: 0px;
  max-width: 100%;
}

.home-section {
  display: block;
  border: 25px solid black;
  height: 50rem;
}

.welcome-title {
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: medium;
}
